#contacto {
  padding: 4rem 1rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

form input, form textarea {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 80%;
  max-width: 400px;
}

button[type="submit"] {
  background-color: #41696f;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #2d4f51;
}

/* Media Query for Responsiveness */
@media (max-width: 768px) {
  form input, form textarea {
    width: 100%; /* Make form fields take up the full width on mobile */
  }
}
