#nuevo-servicio {
  background-color: #f4f7f8;
  padding: 2rem 1rem;
  text-align: center;
}

#nuevo-servicio h3 {
  color: #41696f;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.nuevo-servicio-container {
  display: flex;
  flex-direction: row;  
  justify-content: space-between; 
  gap: 20px;
  align-items: center; 
}

.nuevo-servicio-box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.nuevo-servicio-text {
  width: 50%;
  text-align: left;
}

.nuevo-servicio-img {
  width: 50%;
  display: flex;
  justify-content: center;
}

.nuevo-servicio-img img {
  width: 80%;
  height: auto;
  max-width: 400px;
}

.nuevo-servicio-text,
.nuevo-servicio-img {
  margin-bottom: 2rem;
}

/* Media Query for Responsiveness */
@media (max-width: 768px) {
  .nuevo-servicio-container {
    flex-direction: column; /* Stack elements vertically */
  }

  .nuevo-servicio-text,
  .nuevo-servicio-img {
    width: 100%;
    text-align: center;
  }
}
